$primary: #fff;
$secondary: rgb(255 255 255 / 70%);
$white-opacity-80: rgb(255 255 255 / 80%);
$white-opacity-33: rgb(255 255 255 / 33%);
$white-opacity-25: rgb(255 255 255 / 25%);
$black: #000;
$black-opacity-50: rgb(0 0 0 / 50%);
$black-disabled: #747474;
$placeholder: rgb(0 0 0 / 40%);
$brand-active: #6a5dc2;
$active: #b4a9ff;
$disabled: rgb(255 255 255 / 50%);
$background-black: #0a0b0b;
$background-secondary: #393b3c;
$icon-error: #ff7575;
$button: #67a5eb;
$button-disabled: #45526e;
$actions: #333;
$active-link: #dc5dfc;
$green: #308e21;
$yellow: #a59400;
$gray: #777;
$red: #c82020;
