@use '@styles/variables' as *;

.search {
  position: relative;
  flex-grow: 1;

  @media (width<=1024px) {
    position: absolute;
    top: 16px;
    left: 20px;
    right: 20px;
  }

  &__input {
    flex-grow: 1;
    padding: 16px 12px 16px 55px;
    width: 100%;
    background: $background-secondary url('/search.svg') no-repeat 18px center;
    border-radius: 8px;
    font-size: 18px;
    line-height: 133%;
    color: $primary;

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: $disabled;
    }
  }

  &__close {
    position: absolute;
    right: 18px;
    top: 50%;
    width: 24px;
    height: 24px;
    transform: translate(0, -50%);
    fill: $disabled;
    cursor: pointer;

    & svg {
      fill: $disabled;
    }
  }
}
