@use '@styles/variables' as *;

.input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 100%;
  border-radius: 8px;

  &__icon {
    position: absolute;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    padding: 0;
    pointer-events: none;
    cursor: pointer;
    z-index: 1;

    & path {
      fill: $placeholder;
      transition: fill 0.2s ease;
    }
  }

  &__input {
    width: 100%;
    padding: 16px 16px 16px 52px;
    border: 1px solid $placeholder;
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;

    &.theme-dark {
      background: $background-secondary;
    }

    &.theme-light {
      background: $primary;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: $placeholder;
    }

    &:focus,
    &:hover {
      border-color: $active;

      & + .input__icon path {
        fill: $active;
      }
    }
  }

  &__error {
    border-color: $icon-error;

    & + .input__icon path {
      fill: $icon-error;
    }
  }
}
