@use '@styles/variables' as *;

.success {
  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: $black;
    text-align: center;
  }

  &__text {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: $black;
  }

  &__btn {
    width: 100%;
  }
}
