.footer {
  padding: 42px 0;

  &__content {
    display: flex;
    justify-content: flex-end;

    @media (width <= 1024px) {
      justify-content: flex-start;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    svg {
      width: 36px;
      height: 36px;

      @media (width <= 1024px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}
