@use '@styles/variables' as *;

.rating {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  margin-right: 12px;
  background-color: $green;
  border-radius: 16px;

  & svg {
    margin-right: 5px;
  }

  &__mark {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: $primary;
  }
}

.small {
  padding: 0 8px;

  & svg {
    width: 10px;
    height: 10px;
  }

  &__mark {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: $primary;
  }
}
