@use '@styles/variables' as *;

.films {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;

  &__item {
    display: flex;
  }

  &__more {
    margin: 64px auto;
    width: 218px;

    @media (width<=540px) {
      margin: 40px 0;
      width: 100%;
    }
  }

  &__skeleton {
    width: 100%;
    height: 800px;
    background-color: $placeholder;
    border-radius: 10px;
  }
}
