@use '@styles/variables' as *;

.register {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: $black;
    text-align: center;
  }

  &__btn {
    width: 100%;
    margin: 12px 0;

    &:last-child {
      margin: 0;
    }
  }
}
