@use '@styles/variables' as *;

.film-desc {
  padding: 40px 0;

  @media (width <= 576px) {
    margin-bottom: 32px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 64px;

    @media (width <= 576px) {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (width <= 576px) {
      gap: 12px;
    }
  }

  &__item {
    display: flex;

    @media (width <= 576px) {
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    margin-right: 8px;
    width: 350px;

    @media (width <= 576px) {
      width: 100%;
    }
  }

  &__heading {
    margin-right: 8px;
    flex-shrink: 0;
    white-space: nowrap;

    @media (width <= 576px) {
      margin-right: 0;
      font-weight: 400;
      font-size: 14px !important;
      line-height: 143%;
      color: $disabled !important;
    }
  }

  &__dots {
    flex: 1 1 auto;
    min-width: 10px;
    border-bottom: 1px dotted $disabled;
    height: 1em;
    align-self: flex-end;

    @media (width <= 576px) {
      display: none;
    }
  }
}
