@use '@styles/variables' as *;

.video {
  width: 100%;
  height: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__player {
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bottom {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    padding: 20px 44px;
    background: $trailer-background;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: $primary;
  }

  &__action {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: $primary;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.3s ease;

    & svg {
      width: 40px;
      height: 40px;
    }
  }
}
