@use '@styles/variables' as *;

.close {
  width: 48px;
  height: 48px;
  background: $primary;
  border-radius: 24px;

  & path {
    fill: $black;
    transition: 0.3s ease;
  }

  &:focus path,
  &:hover path,
  &:active path {
    fill: $active;
  }
}
