@use '@styles/variables' as *;

.login {
  display: flex;
  flex-direction: column;

  &__error {
    margin: 0 0 12px;
    font-size: 14px;
    color: $red;
  }

  &__btn {
    width: 100%;

    &:last-child {
      margin: 10px 0;
    }
  }
}
