@use '@styles/variables' as *;

.search-film {
  &__list {
    position: absolute;
    width: 559px;
    right: 0;
    top: calc(100% + 12px);
    display: flex;
    flex-direction: column;
    padding: 8px;
    background: $background-secondary;
    border-radius: 8px;
    z-index: 100;

    @media (width<=1024px) {
      width: 100%;
    }

    @media (width<=540px) {
      display: none;
    }
  }

  &__item {
    width: 100%;
  }

  &__image {
    width: 40px;
    height: 52px;
    margin-right: 16px;
  }

  &__film {
    display: flex;
    padding: 20px 8px;
    width: 100%;
    transition: 0.3s ease;
    border: 1px solid transparent;
    border-radius: 6px;

    &:focus,
    &:hover,
    &:active {
      border: 1px solid $disabled;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__shorts {
    display: flex;
    align-items: center;
  }

  &__short {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $secondary;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }
}
