@use '@styles/variables' as *;

.film {
  position: relative;
  width: 224px;
  height: 336px;
  box-shadow: 0 0 80px 0 $white-opacity-33;
  border: 1px solid $white-opacity-25;
  border-radius: 16px;

  @media (width<=1024px) {
    width: 100%;
    height: auto;
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: $card-background;
  }

  &__banner {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}
