@use '@styles/variables' as *;

.films {
  &__film {
    position: relative;
    width: 224px;
    height: 336px;
    box-shadow: 0 0 80px 0 $white-opacity-33;
    border: 1px solid $white-opacity-25;
    border-radius: 16px;

    @media (width<=540px) {
      width: 100%;
      height: auto;
    }
  }

  &__banner {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }
}
