@use '@styles/variables' as *;

.genre-item {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 304px;
  box-shadow: 0 0 80px 0 $white-opacity-33;
  border: 1px solid $white-opacity-25;
  border-radius: 24px;

  @media (width<=540px) {
    width: 100%;
  }

  &__poster {
    flex-grow: 1;
    background: $gray;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  &__title {
    padding: 22px 0 30px;
    width: 100%;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background: $background-black;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: $primary;
  }
}
