@use '@styles/variables' as *;

.top {
  position: relative;
  padding: 40px 0 120px;

  @media (width <= 1024px) {
    padding: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-mobile {
      display: none;
    }

    @media (width <= 1024px) {
      display: none;

      &-mobile {
        display: block;
      }
    }
  }

  &__mobile {
    display: none;

    @media (width <= 1024px) {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: $primary;

    @media (width <= 1024px) {
      padding: 0 25px;
      margin-bottom: 0;
      font-size: 24px;
    }
  }

  &__films {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__film {
    position: relative;
    width: 224px;
    height: 336px;
    box-shadow: 0 0 80px 0 $white-opacity-33;
    border: 1px solid $white-opacity-25;
    border-radius: 16px;
  }

  &__banner {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  &__number {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px 24px;
    border-radius: 50px;
    background: $primary;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: $brand-active;
    transform: translate(-25%, -25%);
    z-index: 1;
  }

  &__swiper {
    padding: 70px 20px !important;
  }

  &__skeleton {
    height: 800px;
    border-radius: 16px;
    background-color: $placeholder;
    animation: pulse 1.5s ease-in-out infinite;

    @media (width <= 768px) {
      height: 300px;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
