@use '@styles/variables' as *;

.menu {
  padding: 24px 0;

  &__content {
    display: flex;
    align-items: center;

    @media (width <= 1024px) {
      display: none;
    }
  }

  &__logo {
    flex-shrink: 0;
    margin-right: 80px;
    width: 143px;
    height: 32px;
  }

  &__middle {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    margin-right: 80px;
  }

  &__link {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: $primary;
    transition: 0.3s ease;

    &-active {
      color: $brand-active;
      border-bottom: 1px solid $brand-active;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:focus,
    &:hover {
      color: $active;
    }
  }

  &__auth {
    display: flex;
    height: 55px;
  }
}
